@charset "UTF-8";
body {
	background-color: #EEEEEE!important;
	border-right: 130px solid #EEEEEE;
	border-left: 130px solid #EEEEEE;
}

.placeholder-div {
	margin-top: 200px;
	margin-bottom:200px;
	text-align: center;
}

.bg-dark {
	background-color: #182D3A!important;
}

.bg-light {
	background-color: #EEEEEE!important;
}

nav {
 	font-family: "Source Sans Pro";
 	color: white;
}

.navbar-brand {
	font-size: 30px!important;
}

.navbar-brand:hover {
  color: #DDA11C !important;
}

.navbar {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.navbar-nav .nav-item {
	font-size: 20px !important;
	border-width: 1px;
	border-color: #182D3A;
	border-style: solid;
	background-color: #182D3A;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-collapse {
	flex-grow: 0 !important;
}


.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.nav-item:hover {
  background-color: #DDA11C;
}


nav .container {
	padding-bottom: 10px;
	border-bottom: 2px solid #182D3A;
}
.container {
	padding: 10px;
}

.b-shadow {
	box-shadow: 0 0 2px;
	border-radius: 5px;
}

.btn-primary {
	background-color:#FEC508 !important;
	border: 1px solid #FEC508 !important;
	color: #182D3A !important;
	font-weight: bold !important;
}

.btn-outline-danger {
	color: #FFFFFF !important;
	background-color: #dc3545 !important;
}

a {
	color: #FFFFFF !important;
}

footer {
	background-color: #EEEEEE!important;
	color: #182D3A !important;
	padding: 20px;
}


